<html>
<head>
    <link href = "/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <title>Donations</title>

</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <!-- Brand/logo -->
    <div class="container">
        <div>
            <a class="navbar-brand float-left" href="/">
                <img src="/img/robo_small.jpg" alt="logo" style="width:40px;">
            </a>

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/feedback">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Donations</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <h1>Donations</h1>
    <p></p>
    <p>Send me all your money! I will spend it on food, server, sluts and sneakers! Have a nice day. Here are my requisites: </p>

    <p> <a href="http://paypal.me/lactuk" target="_blank">Paypal is nice <img src="/img/paypal.png" alt="paypal" > </a> </p>

    <p> <a href="https://steamcommunity.com/tradeoffer/new/?partner=33152726&token=PpbAqJkY" target="_blank">Steam</a> is ok </p>

    <p> NEVER HEARD ABOUT CRYPTO BUT YOU CAN SEND IT HERE</p>

    <p> Bitcoin 1MUL3PihMVF1H55S2nv79XaHGF1BphHWCy </p>

    <p> <img src="/img/btc.png" alt="BTC"> </p>

    <p> ETH 0x480bFE2d0E32a50A657cA756AcB351B2C42E0334 </p>

    <p> <img src="/img/eth.png" alt="eth"> </p>

    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p> <img src="/img/donate.png" alt="DONATE RAP GOD" class="float-md-right"> </p>


</div>

</body>
</html>