<html>
<head>
    <link href = "/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" rel="stylesheet">
    <link href = "/css/additional.css" rel="stylesheet">
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <title>Not done yet!</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <!-- Brand/logo -->
    <div class="container">
        <div>
        <a class="navbar-brand float-left" href="/">
            <img src="/img/robo_small.jpg" alt="logo" style="width:40px;">
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
<!--            <li class="nav-item">
                <a class="nav-link" href="#">API</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/feedback">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/donations">Donations</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
<div class="bg">
    <div class="display-2 d-inline-block bg-warning">
        Sorry, this page not done yet
    </div>

</div>

<footer class="footer">
    <div class="container bg-light">
        <span class="text-muted">2018 © lactuk.gq</span>
    </div>
</footer>

</body>
</html>
